@import "tailwindcss";

/* Base styles using Tailwind's layer directive */
@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    background: var(--color-bg-primary);
    color: var(--color-text-primary);
    font-family: sans-serif, Times, serif;
  }
}

@theme {
  /* Basic theme colors */
  --color-bg-primary: #fcf7f6;
  --color-bg-secondary: #00ad1d;
  --color-text-primary: #ffffff;

  /* Accent colors */

  /* UI Elements */

  /* Form elements */

  /* Dark Mode */

  /* Fonts */
}

/* Apply custom variant to make hover work on all devices */
@custom-variant hover (&:hover);
